/* BASIC STYLING */

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;     /* 1rem = 10px */
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FIGURE STYLING */

figure {
  width: 320px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  border-radius: 20px;
  box-shadow: 2px 6px 13px -2px hsla(217, 45%, 22%, 0.1),  -2px 6px 13px -2px hsla(217, 45%, 22%, 0.1);
}

img {
  width: 290px;
  height: auto;
  border-radius: 10px;
}

figcaption {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1.5rem;
}

[class$="caption"] {
    text-align: center;
}

.top-caption {
  font-size: 2.2rem;
  font-weight: 700;
  color: hsl(217, 45%, 22%);
}

.bottom-caption {
  font-size: 1.5rem;
  color: hsl(220, 15%, 55%);
}

/* ATTRIBUTION STYLING */

.attribution {
  width: max-content;
  font-size: 1.5rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

figure:hover ~ .attribution {
  opacity: 1;
}